body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.04rem;
  background: #f8f8f6;
  color: #111111;
}

a {
  color: #0066cc;
  text-decoration: none;
}

.header-img {
  width: 100%;
  height: 100px;
  display: block;
}

.header-title-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  width: 100%;
}

.header-title {
  color: rgb(20, 44, 95);
  text-shadow: 2px 2px 4px #000;
  margin: 0;
}

.header-sub-title {
  position: absolute;
  top: 70px;
  left: 40px;
  color: rgb(229, 238, 206);
  text-shadow: 2px 2px 4px #000;
  margin: 0;
}

main {
  padding: 20px;
}

.block {
  margin-bottom: 40px;
  border-left: 5px solid #ff6600;
  padding-left: 15px;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 1.8em;
  color: #883904;
  text-shadow: 2px 2px 4px #5c3535;
}

.education {
  font-size: 1.05rem;
  margin: 2px 0;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.cert-content {
  margin-top: -10px;
}

.skill-main {
  font-weight: bold !important;
  color: #d4401b;
}

.icon {
  width: 24px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #5c3535;
  border-radius: 5px;
}

.show-contacts {
  position: relative;
  cursor: pointer;
  color: #ca3406;
  font-size: 22px;
  font-family: 'Old English Text MT', 'Gothic', serif;
  user-select: none;
  margin-left: 1em;
  margin-top: -10px;
  text-shadow: 1px 1px 2px #5c3535;
  }

.contacts {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  background: #fff;
  border: 2px solid #ff6600;
  padding: 5px;
  box-shadow: 4px 8px 12px rgba(0,0,0,0.3);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
  z-index: 1000;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.contacts.show {
  opacity: 1;
  max-height: 300px;
  pointer-events: auto;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ff6600;
  color: white;
}