body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.03rem;
  background: #f8f8f6;
  color: #222222;
}

.header-img {
  width: 100%;
  height: 100px;
  display: block;
}

.header-title {
  position: absolute;
  top: 20px;
  left: 120px;
  color: rgb(20, 44, 95);
  text-shadow: 2px 2px 4px #000;
  margin: 0;
}

.header-sub-title {
  position: absolute;
  top: 70px;
  left: 40px;
  color: rgb(229, 238, 206);
  text-shadow: 2px 2px 4px #000;
  margin: 0;
}

main {
  padding: 20px;
}

.block {
  margin-bottom: 40px;
  border-left: 5px solid #ff6600;
  padding-left: 15px;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 1.8em;
  color: #883904;
  text-shadow: 2px 2px 4px #5c3535;
}

.education {
  font-size: 1.05rem;
  margin: 2px 0;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.cert-content {
  margin-top: -10px;
}

.skill-main {
  font-weight: bold !important;
  color: #d4401b;
}

.icon {
  width: 30px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #5c3535;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ff6600;
  color: white;
}